{% extends 'blog/base.html' %}

{% block main_area %}
    <h1>Blog</h1>
    <!-- Blog Post -->
    {% if post_list.exists %}
        {% for p in post_list %}
            <div class="card mb-4">
                {% if p.head_image %}
                    <a href={{ p.get_absolute_url }}><img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" /></a>
                {% else %}
                    <a href={{ p.get_absolute_url }}><img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random image" /></a>
                {% endif %}
                <div class="card-body">
                    <div class="Small text-muted">{{ p.created_at }} by <a href="#!">kmaengggong(not yet)</a></div>
                    <h2 class="card-title h4">{{ p.title }}</h2>
                    {% if p.hook_text %}
                        <h5 class="text-muted">{{ p.hook_text }}</h5>
                    {% endif %}
                    <p class="card-text">{{ p.content | truncatewords:45 }}</p>
                    <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more -></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <h3>아직 게시물이 없습니다</h3>
    {% endif %}
{% endblock %}