{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <!-- Blog Post -->
    <div id="post-area">
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <h5 class="text-muted">{{ post.hook_text }}</h5>
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm" style="float:right" href="/blog/update_post/{{ post.pk }}/" role="button">
                    <i class="fas fa-pen"></i> Edit Post
                </a>
            {% endif %}
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">by {{ post.author | upper }}</div>
            <hr>
            {% if post.category %}
                <span class="badge bg-primary" style="float:right">{{ post.category }}</span>
            {% else %}
                <span class="badge bg-primary" style="float:right">미분류</span>
            {% endif %}
            <p>{{ post.created_at }}</p>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4">
            {% if post.head_image %}
                <img class="card-img-top" src="{{ post.head_image.url }}" alt="{{ post.title }} head image" />
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random image" />
            {% endif %}
        </figure>
        <!-- Post content-->
        <section class="mb-5">
            <p>{{ post.get_content_markdown | safe }}</p>

            {% if post.tag.exists %}
                <i class="fas fa-tags"></i>
            {% for tag in post.tag.iterator %}
                <a href="{{ tag.get_absolute_url }}"><span class="badge rounded-pill bg-secondary">{{ tag }}</span></a>
            {% endfor %}
                <br/>
                <br/>
            {% endif %}

            {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                    Download:
                    {% if post.get_file_ext == 'csv' %}
                        <i class="fas fa-file-csv"></i>
                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                        <i class="fas fa-file-excel"></i>
                    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                        <i class="fas fa-file-word"></i>
                    {% else %}
                        <i class="far fa-file"></i>
                    {% endif %}
                    {{ post.get_file_name }}
                </a>
            {% endif %}
        </section>
    </div>
    <!-- Comments section-->
    <div id="comment-area">
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-bs-toggle="modal"
                   data-bs-target="#loginModal">Log in and leave a comment</a>
                {% endif %}
            </div>
        </div>
        {% if post.comment_set.exists %}
            {% for comment in post.comment_set.iterator %}
            <div class="d-flex mb-4" id="comment-{{ comment.pk }}">
                <div class="flex-shrink-0">
                    <img class="rounded-circle" src={{ comment.get_avatar_url }} alt="comment.author" width="60px">
                </div>
                <div class="ms-3">
                    <h5 class="mt-0">
                        {{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                    </h5>
                    <div style="float:right">
                        {% if user.is_authenticated and comment.author == user %}
                            <a role="button" class="btn btn-sm btn-info" id="comment-{{ comment.pk }}-update-btn" href="/blog/update_comment/{{ comment.pk }}/">edit</a>
                            <a role="button" class="btn btn-sm btn-danger" id="comment-{{ comment.pk }}-delete-modal-btn" href="#" data-bs-toggle="modal" data-bs-target="#deleteCommentModal-{{ comment.pk }}">delete</a>
                        {% endif %}
                    </div>



                    <p>{{ comment.content | linebreaks }}</p>
                    {% if comment.created_at != comment.modified_at %}
                        <p class="text-muted float-right"><small>Updated: {{ comment.modified_at }}</small></p>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <!--<span aria-hidden="true">&times;</span>-->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <del>{{ comment | linebreaks }}</del>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr/>
{% endblock %}